body{
    background-color: black;
    color: white;
    font-family: 'Centry Gothic', sans-serif;
}

h1{
    font-size: 50px;
    text-align: center;
    margin-top: 5em;
    margin-bottom: 1em;
}